
Library/metadata/fd/fd6361dbb4a934d4d96990cefbc0a4ae


Thumbs.db

*.csproj

*.pidb

*.unityproj

Library/metadata/

Library/*.log
Library/AssetServerCache*
Library/ScriptMapper
Library/ShaderCache.db
Library/assetDatabase3
Library/guidmapper

*.mdb

*.dll

*.app

*.exe

*.dmg

Library/ScriptAssemblies/CompilationCompleted.txt

*.sln

.DS_Store

*.userprefs

save.xml

Temp/*
